@import "~@fortawesome/fontawesome-free/css/all.min.css";

@background: #282a36;
@current-line: #44475a;
@selection: #44475a;
@foreground: #f8f8f2;
@comment: #6272a4;
@cyan: #8be9fd;
@green: #50fa7b;
@orange: #ffb86c;
@pink: #ff79c6;
@purple: #bd93f9;
@red: #ff5555;
@yellow: #f1fa8c;

@outer-color: fade(@background, 30%);
@inner-color: fade(@background, 70%);

body {
  // padding: 0 !important;
  // margin: 0 !important;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  background-color: fade(@background, 80%);
  color: @foreground;
}

*::-webkit-scrollbar {
  display: none;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}
.dropdown-content {
  padding-left: 10px;
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 100%;
  z-index: 1000;
  width: max-content;
  display: none;
  background-color: @background;
  .dropdown:hover & {
    display: block;
  }
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: @foreground;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: fade(@foreground, 70%);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: @green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: @foreground;
}

.input-label {
  display: inline-block;
  width: 100px;
}
